[Unit]
Description=Weekly backup of explicitly installed AUR packages

[Timer]
OnCalendar=Sun 19:00
Persistent=true

[Install]
WantedBy=timers.target
