# Logseq
.config/Logseq/*
!.config/Logseq/configs.edn
!.config/Logseq/Preferences

# Libreoffice
.config/libreoffice/4/user/*
!.config/libreoffice/4/user/config/

# DankMaterialShell
.config/DankMaterialShell/plugins/
.config/DankMaterialShell/.firstlaunch
.config/DankMaterialShell/.changelog-1.4

# Vesktop
.config/vesktop/*
!.config/vesktop/settings/
!.config/vesktop/settings.json

# ludusavi
.config/ludusavi/cache.yaml
.config/ludusavi/manifest.yaml

# geany
.config/geany/session.conf

# mpv
.config/mpv/scripts/

# qBittorrent
.config/qBittorrent/qBittorrent-data.conf

# qutebrowser
.config/qutebrowser/autoconfig.yml

# yazi
.config/yazi/plugins/

.config/gtk-3.0/bookmarks

# Secrets
lockfile
ipc-socket
*.lock
*.README
*.backup
*.bak
*.log
*.ffmetadata
